<div class="flex flex-col h-fit p-5 min-h-[500px]">
    <div class="text-center text-3xl" style="color: rgba(6,64,79)">
      <div class="animate__animated animate__slideInLeft" style="animation-duration: 2s;">To make every day magic</div>
      <div class="animate__animated animate__slideInRight" style="animation-duration: 2s;">
        through the science and art
        of
      </div>
      <div class="animate__animated animate__slideInLeft" style="animation-duration: 2s;">
        <div class="animate__animated animate__heartBeat" style="animation-delay: 2s;">
          connection
        </div>
      </div>
    </div>
  <hr>

  <div class="self-center mt-12">
    <button class="button-63" role="button" (click)="connect()">Enter the Selliverse</button>
  </div>

  <div class="flex flex-row">
    <app-user-overview></app-user-overview>
  </div>
</div>
