<header class="bg-white">
  <nav>
    <div class="mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center h-16">
        <div class="flex-1 flex items-center">
          <div  class="text-center text-3xl" style="color: rgba(6,64,79)">
            Selliverse
          </div>
          <div class="flex-shrink-0 flex" >
            <img src="assets/selligent_logo_blue.png" class="ml-5 h-10"/>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="flex flex-col h-fit h-min-60 h-60">
  <!--  Title stuff-->
  <ng-container *ngIf="isLoaded$ | async; else notLoaded">
    <div class="self-center mt-14">
      <button class="button-63" role="button">Connect</button>
    </div>
  </ng-container>

  <ng-template #notLoaded>
    <div class="text-center text-3xl h-50" style="color: rgba(6,64,79)">
      <div class="animate__animated animate__slideInLeft" style="animation-duration: 2s;">To make every day magic</div>
      <div class="animate__animated animate__slideInRight" style="animation-duration: 2s;">through the science and art of
      </div>
      <div class="animate__animated animate__slideInLeft" style="animation-duration: 2s;">
        <div class="animate__animated animate__heartBeat" style="animation-delay: 2s;">
          connection
        </div>
      </div>
    </div>
  </ng-template>

  <div class="flex flex-row flex-grow">
    <div class="flex-grow h-50">
      Something amazing will come here
    </div>
    <div>
      <app-user-overview></app-user-overview>
    </div>
  </div>
</div>
